<?xml version="1.0"?>
<launch>
  <node name="class_tsn_rgb" pkg="caffe_tsn_ros" type="class_tsn_rgb2.py" respawn="false" output="screen" ns="subject">
    <param name="video_topic" value="/videofiles/image_raw"/>
	  <param name="device_id" value="0"/>
    <param name="dataset" value="hmdb51"/>
    <param name="split" value="1"/>
	  <param name="classification_frame_window" value="50"/>
  </node>
</launch>
